html,
body {
	font-family: "Times New Roman", Times, serif;
	font-size: large;
	margin: 0;
}

.color-scheme {
	color: #8ecae6;
	color: #219ebc;
	color: #126782;
	color: #023047;
	color: #ffb703;
	color: #fd9e02;
	color: #fb8500;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
}

header img {
	width: 70px;
}

#tutorial-container {
	background: #fd9e02;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 10rem 0;
}

#tutorial-header {
	background-color: #023047;
	color: #fff;
	padding: 1rem;
	margin: 0;
	border-radius: 0 0 1rem 1rem;
}

#image-tutorial-container {
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 1rem;
	justify-content: start;
	padding-left: 5rem;
}

.tutorial-item-container {
	margin: 0.7rem 0;
	border: dotted 0.25rem #023047;
	border-radius: 1rem;
	background: #ffb703;
}

.tutorial-label {
	color: #023047;
	font-weight: bold;
}

.reference-img {
	width: 10rem;
	margin: 0.5rem;
	border: solid 0.25rem #fff;
}

#tutorial-description {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: x-large;
	color: #fff;
}

.description-container {
	padding: 3rem;
	background-color: #023047;
	border-radius: 0 1rem;
}

#outer-description-container {
	width: 30%;
	padding: 1rem;
	background-color: #8ecae6;
}

blockquote {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	position: relative;
	color: #383838;
	height: 75%;
}

blockquote:before {
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -40px;
	top: -20px;
	color: #7a7a7a;
}

#outer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#defaultCanvas0 {
	margin: 20px;
}

#canvas-container {
	background: url("./Images/orange.gif");
	background-repeat: round;
	background-size: 40px;
}

button {
	background: rgb(255, 217, 0);
}

.editor-button {
	display: none;
}

#editor-container {
	margin: 1rem 0;
	padding: 1rem;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border: solid 0.5rem rgb(196, 118, 18);
}

#color-customisation-container {
	display: grid;
	justify-items: end;
	align-items: center;
	column-gap: 0.5rem;
}

#webcam {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg); /* Safari and Chrome */
	-moz-transform: rotateY(180deg); /* Firefox */
	border-radius: 10%;
	height: 20%;
	border: solid sandybrown 0.5rem;
}

#game-outer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#game-header {
	text-decoration: underline;
}

.reference-txt {
	text-align: left;
}
