html,
body {
	font-family: "Times New Roman", Times, serif;
	font-size: large;
	margin: 0;
}

.color-scheme {
	color: #8ecae6;
	color: #219ebc;
	color: #126782;
	color: #023047;
	color: #ffb703;
	color: #fd9e02;
	color: #fb8500;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
}

header img {
	width: 70px;
}

#tutorial-container {
	background: #fd9e02;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 10rem 0;
	text-align: center;
}

#tutorial-header {
	background-color: #023047;
	color: #fff;
	padding: 1rem;
	margin: 0;
	border-radius: 0 0 1rem 1rem;
}

#image-tutorial-container {
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 1rem;
	justify-content: start;
	padding-left: 5rem;
}

.tutorial-item-container {
	margin: 0.7rem 0;
	border: dotted 0.25rem #023047;
	border-radius: 1rem;
	background: #ffb703;
}

.tutorial-label {
	color: #023047;
	font-weight: bold;
}

.reference-img {
	width: 10rem;
	margin: 0.5rem;
	border: solid 0.25rem #fff;
}

#tutorial-description {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: x-large;
	color: #fff;
}

.description-container {
	padding: 3rem;
	background-color: #023047;
	border-radius: 0 1rem;
}

#outer-description-container {
	width: 30%;
	padding: 1rem;
	background-color: #8ecae6;
}

blockquote {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	position: relative;
	color: #383838;
	height: 75%;
}

blockquote:before {
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -40px;
	top: -20px;
	color: #7a7a7a;
}

#outer-container {
	background: #219ebc;
	margin-bottom: 100px;
}

#game-title-container {
	background: #023047;
	border-radius: 0 0 1rem 1rem;
	width: 20%;
	height: 8rem;
	margin: auto;
}

#game-header {
	color: #fff;
	text-align: center;
	padding-top: 1rem;
}

#game-container {
	margin: 2rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#video-label-container {
	margin-left: 3rem;
	text-align: center;
	background: #ffb703;
	border-radius: 10%;
}

#webcam {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	border-radius: 10%;
	width: 20rem;
	aspect-ratio: 1;
	background: #fb8500;
	margin: 1.5rem;
}

.result-label {
	color: #023047;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}

#defaultCanvas0 {
	border: #ffb703 solid;
	border-width: 1rem;
	border-radius: 2rem;
}

button {
	background: #8ecae6;
	border: none;
	border-radius: 0.5rem;
	height: 2rem;
}

.expandible:hover {
	background: #ffb703;
	transform: scale(1.25);
	color: #fff;
	transition: transform 0.2s;
}

#color-editor-button:hover {
	background: #ffb703;
	color: #fff;
}

.editor-button {
	display: none;
}

#color-editor-button {
	font-family: "Times New Roman", Times, serif;
	border-radius: 1rem 1rem 0 0;
	background: #023047;
	width: 15%;
	font-weight: bolder;
	font-size: large;
	text-align: center;
	color: #fff;
	display: block;
	transition: 0.2s;
	margin: auto;
}

#editor-container {
	color: #fff;
	padding: 1rem;
	display: none;
	overflow: hidden;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background: #126782;
	border-top: #ffb703 solid 0.25rem;
}

#color-customisation-container {
	display: grid;
	justify-items: end;
	align-items: center;
	column-gap: 0.5rem;
}
